@model WebApplication4.Models.AdminViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <h4 class="title">RESET PASSWORD</h4>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="confirm_password" style="color:gray">Old Password</label>
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" style="color:gray">New Password</label>
                        @Html.EditorFor(model => model.change_password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.change_password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" style="color:gray">Confirm Password</label>
                        @Html.EditorFor(model => model.confirm_password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.confirm_password, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" style="background-color: blue; color: white">Change Password</button>
                        @*<button type="button" href="/Admin/RegisteredCompanies" class="btn btn-light" style="background-color: grey; color: white">Cancel</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

}

