@model WebApplication4.Models.AdminResetViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="card"> -->
                <div class="header">
                    <h4 class="title">RESET PASSWORD</h4>
                    <!-- <p class="category">Here is a subtitle for this table</p> -->
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.Status == true)
                    {
                        <div class="alert alert-danger">
                            <strong>@ViewBag.Message</strong>
                        </div>
                    }
                    <div class="form-group">
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Old Password" } })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" , @placeholder = "Confirm Password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn btn-primary" value="Change Password" style="background-color: blue; color: white"/>
                    </div>
                }
                </div>
        </div>
    </div>
</div>
